<!DOCTYPE html>
<html>
<head>
    <title>Kommentare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

<!-- Navigationsleiste -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">funk0rs Kochrezepte</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('logout') }}" class="btn btn-danger navbar-btn">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2>Kommentare</h2>
    <p>Willkommen, {{ username }}!</p>

    {% for comment in comments %}
        <div class="row">
            <strong>{{ comment.user.username }}</strong>: {{ comment.content }}
        </div>
    {% endfor %}

    <div class="row">
        <form action="." method="POST">
            <textarea name="contents" placeholder="Enter a comment" class="form-control"></textarea>
            <input type="submit" class="btn btn-success" value="Post comment">
        </form>
    </div>
</div>

</body>
</html>
